<div>
    <h1>Tela de Jogador<h1>
 
    @* formuulario de cadastro*@
    <form method="POST" asp-action="CadastroJogador" asp-controller="Jogador">

        <div class="form-control">
            <label for="nome">Nome da Jogador</label>
            <input type="text" name="Nome">
        </div>
 
         <div class="form-control">
            <label for="imagem">Imagem da Jogador</label>
            <input type="text" name="Imagem">
        </div>
        
        <button class="btn btn-primary" type="submit">Cadastrar </button>
 
    </form>
 
    <table class="table table-striped">
        <thead>
            <th>Id</th>
            <th>Nome</th>
            <th>Imagem</th>
        </thead>
 
        <tbody>
            @foreach(Jogador jogador in ViewBag.ListaJogadors)
            {
                <tr>
                    <td>@jogador.Id</td>
                    <td>@jogador.Nome</td>
                    <td>@jogador.Email</td>
                    <td>@jogador.Senha</td>
                    <td>@jogador.IdEquipe</td>
                    <td>@jogador.IdEquipeNavigation</td>
                </tr>
            }
        </tbody>
    </table>
</div>